# Local data directory for parsed demo outputs
WALL_DATA_DIR=outputs/match730_003825715054175584453_1941916173_129

# Optional explicit Awpy maps directory override
AWPY_MAPS_DIR=C:/Users/26759/.awpy/maps
